<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>881914006921-2lvfq2h0l2b39umibma1db06lltv2k9j.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.881914006921-2lvfq2h0l2b39umibma1db06lltv2k9j</string>
	<key>API_KEY</key>
	<string>AIzaSyCElZSFFQvmPHloI52SSM7OhA2hYLyk1N0</string>
	<key>GCM_SENDER_ID</key>
	<string>881914006921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.travalong</string>
	<key>PROJECT_ID</key>
	<string>travalong-33ad7</string>
	<key>STORAGE_BUCKET</key>
	<string>travalong-33ad7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:881914006921:ios:566adde9c1ab552b926558</string>
</dict>
</plist>